.markets {
  display: flex;
  justify-content: center;
  gap: 20px;

  .market {
    width: 50%;
  }

  .header {
    display: flex;
    background-color: darkslateblue;
    justify-content: center;
    height: 40px;
    align-items: center;
  }

  .list {

    .shelf>button>span {
      color: #FF7F7F;
    }

    .products {
      display: flex;
      align-items: center;
      gap: 5px;

      button {
        background-color: darkgoldenrod;
      }
    }
  }
}