.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .currency-area {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;

    span {
      border: 2px solid darkslateblue;
      padding: 0 5px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;

    .anticon {
      font-size: 20px;
    }

    strong {
      font-weight: 500;
    }
  }
}