.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;

    .anticon {
      font-size: 20px;
    }

    strong {
      font-weight: 500;
    }
  }
}